.chat-message-user, .chat-message-robot{
  display: flex;
  justify-content: right;
  align-items: center;
}

.chat-message-robot{
  justify-content: left;
}

.chat-message-text{
  background-color: rgb(238, 238, 238);
  padding: 16px 20px;
  border-radius: 10px;
  margin: 20px 10px;
  max-width: 400px;
  white-space: pre-line;
  line-break: auto;
  word-break: normal;
  overflow-wrap: break-word;
}

.chat-message-profile{
  width: 45px;
}

.chat-message-time {
  font-size: 12px;
  color: rgb(125, 125, 125);
  margin-top: 5px;
}