.send-button, .clear-button{
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.15s;
}

.send-button{
  background-color: rgb(25, 135, 84);
  color: white;
}

.send-button:hover{
  background-color: rgb(22, 113, 71);
}

.clear-button{
  background-color: rgb(230, 230, 230);
}

.clear-button:hover{
  background-color: rgb(212, 211, 211);
}

.chat-input{
  padding: 12px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}

.chat-input-container{
  display: flex;
  margin-bottom: 60px;
}

.loading-spinner {
  height: 40px;
  margin: -15px;
}